<%-include ('../partialUser/headerUser')%>
<canvas id="chart" height="40vh" width="80vw"></canvas>
<div id="mydiv" data-test=<%=products%>></div>
<p style="display: none;" id="products"><%=JSON.stringify(products)%></p>
<script>
  var test = document.getElementById('products').innerText
  let parsedProduct = JSON.parse(test)
  
  let tampStock = []
  let tampName = []
  for(let i = 0; i<parsedProduct.length; i ++){
    tampName.push(parsedProduct[i].name_product)
    tampStock.push(parsedProduct[i].stock)

  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:tampName,
        datasets: [{
            label: "Current Stock",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: tampStock
        }]
    },
    options: {}
});
  }
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Flower Name</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < products.length; i++){ %>
    <tr>
      <td scope="row"> <%=products[i].addBungaToProductName()%></td>
      <td scope="row"> <%=helper.toCurrency(products[i].price)%></td>
      <td scope="row"><a href="/user/detail/<%=products[i].id%>"><button type="button" class="btn btn-success">Details</button></a>
      </td>
      <td scope="row"><a href="/user/<%=products[i].id%>/add-item"><button type="button" class="btn btn-success">Add
            to Cart</button></a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table><br>
<h2>LIST CART</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Action</th>
    </tr>
    <% for(let i = 0; i < trx.length; i++) { %>
    <tr> 
      <td scope="row"><%=trx[i].Product.name_product%></td>
      <td scope="row"><%=trx[i].quantity%></td>
      <td scope="row"><%=helper.toCurrency(trx[i].total_price)%></td>
      <td scope="row"><a href="/user/<%=trx[i].UserId%>/<%=trx[i].ProductId%>/delete-item"><button type="button" class="btn btn-danger">DELETE</button></a>
      </td>
    </tr>
    <% } %>
  </thead>
</table>
<td scope="row"><a href="/user/check-out"><button type="button" class="btn btn-success">CheckOut</button></a>
<%-include ('../partialUser/footerUser')%>