<%-include ('../partialUser/headerUser')%>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Flower Name</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < products.length; i++){ %>
    <tr>
      <td scope="row"> <%=products[i].name_product%></td>
      <td scope="row"> <%= products[i].price %></td>
      <td scope="row"> <%= products[i].stock %></td>
      <td scope="row"><a href="/user/<%=products[i].id%>/add-item"><button type="button" class="btn btn-success">Add
            to Cart</button></a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table><br>
<h2>LIST CART</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Action</th>
    </tr>
    <% for(let i = 0; i < trx.length; i++) { %>
    <tr>
      <td scope="row"><%=trx[i].Product.name_product %></td>
      <td scope="row"><%=trx[i].quantity%></td>
      <td scope="row"><%=trx[i].total_price %></td>
      <td scope="row"><a href="/user/<%=trx[i].id%>/delete-item"><button type="button" class="btn btn-danger">DELETE</button></a>
      </td>
    </tr>
    <% } %>
  </thead>
</table>
<%-include ('../partialUser/footerUser')%>