<%-include ('../partialUser/headerUser')%>
<div class="row">
    <div class="col">        
      <h1>Cart</h1>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"><%=purchase.Product.name_product%></td>
        <td scope="row"><%=purchase.quantity%></td>
        <td scope="row"><%=purchase.Product.price%></td>
        <td scope="row">Totalnya</td>
       </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" onclick="return confirm('Continue to check out?')" href="/transaction/<%=purchase.UserId%>/check-out" role="button">Check Out</a>
  <%-include ('../partialUser/footerUser')%>