<%-include ('../partialUser/headerUser')%>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Flower Name</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td scope="row"> <%= products.name_product %></td>
            <td scope="row"> <%= products.price %></td>
            <td scope="row"> <%= products.stock %></td>
          </tr>
      
      </tbody>
</table>
<%-include ('../partialUser/footerUser')%>